* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-tyv.kaz-tyv.dix -text
/apertium-kaz-tyv.kaz-tyv.lrx -text
/apertium-kaz-tyv.kaz-tyv.t1x -text
/apertium-kaz-tyv.kaz-tyv.t2x -text
/apertium-kaz-tyv.kaz-tyv.t3x -text
/apertium-kaz-tyv.tyv-kaz.lrx -text
/apertium-kaz-tyv.tyv-kaz.t1x -text
/apertium-kaz-tyv.tyv-kaz.t2x -text
/apertium-kaz-tyv.tyv-kaz.t3x -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
texts/story.kaz.txt -text svneol=unset#application/octet-stream
texts/story.tyv.txt -text svneol=unset#application/octet-stream
